<aside
  class="bg-stone-50 dark:bg-stone-800 md:border-r border-stone-100 dark:border-stone-800 p-5 md:w-60 font-medium md:min-h-screen h-full md:fixed left-0 top-0 bottom-0 flex flex-col space-y-5 md:space-y-7 md:overflow-x-hidden overflow-y-auto"
>
  <div class="flex-1 space-y-5">
    <a href="/" class="block">
      <svg width="115" height="23" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g class="layer">
         <title>Layer 1</title>
         <use id="svg_5" transform="translate(0.0459114 0.0456007) scale(1.00391 1.00391) translate(-0.0459114 -0.0456007) matrix(0.101378 0 0 0.101378 -1.48279 -1.4826)" xlink:href="#svg_4"/>
         <text fill="#000000" font-family="Helvetica" font-size="14.12" font-weight="bold" id="svg_6" stroke-width="0" style="cursor: move;" text-anchor="middle" x="69.3" xml:space="preserve" y="16.7">Skill Get Now</text>
        </g>
        <defs>
         <symbol class="icon" height="256" id="svg_4" viewBox="0 0 1024 1024" width="256" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="m510.55,63.82c-246.72,0 -446.71,199.99 -446.71,446.7s199.99,446.71 446.71,446.71s446.71,-199.99 446.71,-446.7s-200,-446.71 -446.71,-446.71zm244.11,378.06l-354.45,354.43c-4.03,4.02 -9.39,6.11 -14.77,6.11c-3.85,0 -7.75,-1.06 -11.19,-3.23c-8.26,-5.26 -11.74,-15.54 -8.41,-24.71l73.23,-201.33l-157.88,0c-8.42,0 -16.03,-5.09 -19.26,-12.89c-3.24,-7.79 -1.44,-16.8 4.52,-22.76l312.76,-312.76c6.54,-6.59 16.63,-7.99 24.77,-3.52c8.13,4.46 12.32,13.76 10.32,22.81l-36.05,162.32l161.65,0c8.42,0 16.05,5.04 19.27,12.82c3.23,7.8 1.43,16.74 -4.51,22.71z" fill="#000000" id="svg_1"/>
         </symbol>
        </defs>
       </svg>
    </a>
    <div id="docsearch" class="h-9"></div>
    <div class="space-x-2 md:space-x-0 md:space-y-0.5 hidden md:flex flex-wrap md:flex-col md:items-start">
      <a href="/categories/" class="text-stone-500 dark:text-stone-400 hover:text-stone-900 dark:hover:text-white">分类</a>
      {{ range first 10 (.Site.Taxonomies.categories.ByCount) }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title | title }}</a>
      {{ end }}
      <a href="/categories/" class="hover:text-stone-900 dark:hover:text-white flex space-x-0.5 items-center group">
        <span>查看全部</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-2.5 w-2.5 flex-1 transition text-stone-500 group-hover:text-stone-900 dark:group-hover:text-white" viewBox="0 0 256 256"><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="34"></polyline></svg>
      </a>
    </div>
    <div class="space-x-2 md:space-x-0 md:space-y-0.5 hidden md:flex flex-wrap md:flex-col md:items-start">
      <a href="/mood/" class="text-stone-500 dark:text-stone-400 hover:text-stone-900 dark:hover:text-white">推荐指数</a>
      {{ range first 10 (.Site.Taxonomies.mood.ByCount) }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title | title }}</a>
      {{ end }}
      <a href="/mood/" class="hover:text-stone-900 dark:hover:text-white flex space-x-0.5 items-center group">
        <span>查看全部</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-2.5 w-2.5 flex-1 transition text-stone-500 group-hover:text-stone-900 dark:group-hover:text-white" viewBox="0 0 256 256"><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="34"></polyline></svg>
      </a>
    </div>
    <div class="space-x-2 md:space-x-0 md:space-y-0.5 hidden md:flex flex-wrap md:flex-col md:items-start">
      <a href="/tags/" class="text-stone-500 dark:text-stone-400 hover:text-stone-900 dark:hover:text-white">标签</a>
      {{ range first 10 (.Site.Taxonomies.tags.ByCount) }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>
      {{ end }}
      <a href="/tags/" class="hover:text-stone-900 dark:hover:text-white flex space-x-0.5 items-center group">
        <span>查看全部</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-2.5 w-2.5 flex-1 transition text-stone-500 group-hover:text-stone-900 dark:group-hover:text-white" viewBox="0 0 256 256"><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="34"></polyline></svg>
      </a>
    </div>
    
    
  </div>
  <div class="space-x-3 md:space-x-0 md:space-y-0.5 flex flex-wrap md:flex-col md:items-start">
    <a href="/tags/" class="inline md:hidden">标签</a>
    <a href="/categories/" class="inline md:hidden">分类</a>
    <a href="/mood/" class="inline md:hidden">领域</a>
    <a 
      target="_blank"
      class="hidden md:inline"
      rel="noopener noreferrer"
      href="https://twitter.com/praveenjuge">
      关注我
    </a>
    <a 
      href=https://github.com/praveenjuge/copybook/
      target="_blank"
      rel="noopener noreferrer">
      <span class="hidden md:inline">查看 </span>
      GitHub
    </a>
  </div>
</aside>
